<h2 class="dialog-title">Link</h2>

<form class="aui" action="AddWatchers.jspa" method="post">

    <input type="hidden" name="atl_token" value="${atl_token}" />
    <input type="hidden" name="id" value="$action.id" />

    <div class="content-body">

        #if ($action.hasAnyErrors())
        <div class="form-message error">
            #foreach ($error in $action.getErrorMessages())
                <p>$textutils.htmlEncode(${error})</p>
            #end
            #foreach ($error in $action.errors)
                <p>$textutils.htmlEncode(${error})</p>
            #end
        </div>
        #end

        <div class="field-group">
            <label>Issues <span class="aui-icon icon-required"></span></label>
            &nbsp;<textarea name="watcherUserNames" class="textarea long-field"></textarea>
            <div class="description">Select Issues from search as summary</div>
        </div>
    </div>

    <div class="buttons-container content-footer">
        <div class="buttons">
            <a href="#" class="cancel">$i18n.getText('summarysearch.common.cancel')</a>
            <input class="button" type="submit" value="$i18n.getText('summarysearch.common.add')" />
        </div>
    </div>

</form>
